{% import 'macros/edit_buttons.html' as edit_buttons %}

<div class="border border-warning border-2 rounded p-3">
    <div class="row px-3 mb-3">
        <div class="col-md-10">
            <h2 class="h3">Lo que es IMPORTANTE para mí</h2>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-start" id="nav-important">
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" 
                        type="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"
                        id="dropdown-important">
                    ÍNDICE
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown-important">
                    <li><a class="dropdown-item" href="#estoy_ansioso">¿Estoy ansioso?</a></li>
                    <li><a class="dropdown-item" href="#estoy_dolorido">¿Estoy dolorido?</a></li>
                    <li><a class="dropdown-item" href="#estoy_asustado">¿Estoy asustado?</a></li>
                    <li><a class="dropdown-item" href="#estoy_enojado">¿Estoy enojado?</a></li>
                    <li><a class="dropdown-item" href="#como_comunicarse">Cómo comunicarse</a></li>
                    <li><a class="dropdown-item" href="#movilidad">Movilidad</a></li>
                    <li><a class="dropdown-item" href="#cuidad_personal">Cuidado personal</a></li>
                    <li><a class="dropdown-item" href="#vista_oido">Problemas de Vista/Oido</a></li>
                    <li><a class="dropdown-item" href="#como_como">Cómo como</a></li>
                    <li><a class="dropdown-item" href="#como_bebo">Cómo bebo</a></li>
                    <li><a class="dropdown-item" href="#seguridad">Mi seguridad</a></li>
                    <li><a class="dropdown-item" href="#baño">Uso del baño</a></li>
                    <li><a class="dropdown-item" href="#descanso">Descansar</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="my-2 border border-warning">

    <div class="bg-body-tertiary p-3 rounded-2" tabindex="0">
        
        <section aria-labelledby="estoy_ansioso">
            <h3 class="h5" id="estoy_ansioso">¿Qué necesito que hagan si estoy ansiosa/ansioso?</h3>
            <div 
                id="estoy_ansioso_content"
                data-type="user">
                <p 
                    class="border border-warning rounded view-mode mb-3 p-3" 
                    aria-labelledby="estoy_ansioso"
                    style="white-space: pre-wrap;"
                >{{ user.anxiety_care_instructions or "" }}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control border border-warning rounded autosize edit-mode d-none mb-3 p-3" 
                    name="anxiety_care_instructions"
                    placeholder="Escriba aquí..."
                    aria-labelledby="estoy_ansioso"></textarea>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("estoy_ansioso_content", "estoy_ansioso") }}
            {% endif %}
        </section>


        <section aria-labelledby="estoy_dolorido">
            <h3 class="h5" id="estoy_dolorido">¿Cómo te das cuenta de que estoy dolorida/dolorido?</h3>
            <div 
                id="estoy_dolorido_content"
                data-type="user">
                <p 
                    class="border border-warning rounded view-mode mb-3 p-3" 
                    aria-labelledby="estoy_dolorido"
                    style="white-space: pre-wrap;"
                >{{ user.pain_detection_cues or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control border border-warning rounded autosize edit-mode d-none mb-3 p-3" 
                    name="pain_detection_cues"
                    placeholder="Escriba aquí..."
                    aria-labelledby="estoy_dolorido"></textarea>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("estoy_dolorido_content", "estoy_dolorido") }}
            {% endif %}
        </section>


        <section aria-labelledby="estoy_asustado">
            <h3 class="h5" id="estoy_asustado">¿Cómo te das cuenta que estoy asustada/asustado?</h3>
            <div 
                id="estoy_asustado_content"
                data-type="user">
                <p 
                    class="border border-warning rounded view-mode mb-3 p-3" 
                    aria-labelledby="estoy_asustado"
                    style="white-space: pre-wrap;"
                >{{ user.fear_detection_cues or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control border border-warning rounded autosize edit-mode d-none mb-3 p-3" 
                    name="fear_detection_cues"
                    placeholder="Escriba aquí..."
                    aria-labelledby="estoy_asustado"></textarea>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("estoy_asustado_content", "estoy_asustado") }}
            {% endif %}
        </section>


        <section aria-labelledby="estoy_enojado">
            <h3 class="h5" id="estoy_enojado">¿Cómo te das cuenta que estoy enojada/enojado?</h3>
            <div 
                id="estoy_enojado_content"
                data-type="user">
                <p 
                    class="border border-warning rounded view-mode mb-3 p-3" 
                    aria-labelledby="estoy_enojado"
                    style="white-space: pre-wrap;"
                >{{ user.anger_detection_cues or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control border border-warning rounded autosize edit-mode d-none mb-3 p-3" 
                    name="anger_detection_cues"
                    placeholder="Escriba aquí..."
                    aria-labelledby="estoy_enojado"></textarea>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("estoy_enojado_content", "estoy_enojado") }}
            {% endif %}
        </section>


        <section aria-labelledby="como_comunicarse">
            <h3 class="h5" id="como_comunicarse">Cómo comunicarse conmigo:</h3>
            <p class="mb-1" id="como_comunicarse_desc">Ejemplos: Ubicación del interlocutor, hablar en voz baja/alta, hablar con lentitud, repetir las cosas, etc</p>
            <div 
                id="como_comunicarse_content"
                data-type="user">
                <p 
                    class="border border-warning rounded view-mode mb-3 p-3" 
                    aria-labelledby="como_comunicarse"
                    style="white-space: pre-wrap;"
                >{{ user.communication_instructions or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control border border-warning rounded autosize edit-mode d-none mb-3 p-3" 
                    name="communication_instructions"
                    placeholder="Escriba aquí..."
                    aria-labelledby="como_comunicarse"
                    aria-describedby="como_comunicarse_desc"></textarea>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("como_comunicarse_content", "como_comunicarse") }}
            {% endif %}
        </section>


        <section aria-labelledby="movilidad">
            <h3 class="h5" id="movilidad">Movilidad:</h3>
            <p class="mb-1" id="movilidad_desc">Ejemplos: Postura en la cama, andador, etc.</p>
            <div 
                id="movilidad_content"
                data-type="user">
                <p 
                    class="border border-warning rounded view-mode mb-3 p-3" 
                    aria-labelledby="movilidad"
                    style="white-space: pre-wrap;"
                >{{ user.mobility or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control border border-warning rounded autosize edit-mode d-none mb-3 p-3" 
                    name="mobility"
                    placeholder="Escriba aquí..."
                    aria-labelledby="movilidad"
                    aria-describedby="movilidad_desc"></textarea>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("movilidad_content", "movilidad") }}
            {% endif %}
        </section>

        <section aria-labelledby="cuidad_personal">
            <h3 class="h5" id="cuidad_personal">Cuidado personal:</h3>
            <p class="mb-1" id="cuidad_personal_desc"> Ejemplos: Vestido, higiene, etc.</p>
            <div 
                id="cuidad_personal_content"
                data-type="user">
                <p 
                    class="border border-warning rounded view-mode mb-3 p-3" 
                    aria-labelledby="cuidad_personal"
                    style="white-space: pre-wrap;"
                >{{ user.personal_care or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control border border-warning rounded autosize edit-mode d-none mb-3 p-3" 
                    name="personal_care"
                    placeholder="Escriba aquí..."
                    aria-labelledby="cuidad_personal"
                    aria-describedby="cuidad_personal_desc"></textarea>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("cuidad_personal_content", "cuidad_personal") }}
            {% endif %}
        </section>


        <section aria-labelledby="vista_oido">
            <h3 class="h5" id="vista_oido">Problemas de Vista/Oído:</h3>
            <p class="mb-1" id="vista_oido_desc">Ejemplos: dificultad para ver de lejos, uso de audífonos, etc.</p>
            <div 
                id="vista_oido_content"
                data-type="user">
                <p 
                    class="border border-warning rounded view-mode mb-3 p-3" 
                    aria-labelledby="vista_oido"
                    style="white-space: pre-wrap;"
                >{{ user.vision_hearing or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control border border-warning rounded autosize edit-mode d-none mb-3 p-3" 
                    name="vision_hearing"
                    placeholder="Escriba aquí..."
                    aria-labelledby="vista_oido"
                    aria-describedby="vista_oido_desc"></textarea>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("vista_oido_content", "vista_oido") }}
            {% endif %}
        </section>


        <section aria-labelledby="como_como">
            <h3 class="h5" id="como_como">Cómo como:</h3>
            <p class="mb-1" id="como_como_desc">Ejemplos: Alimento cortado, procesado, riesgo de ahogo, ayuda para comer, gastrostomía</p>
            <div 
                id="como_como_content"
                data-type="user">
                <p 
                    class="border border-warning rounded view-mode mb-3 p-3" 
                    aria-labelledby="como_como"
                    style="white-space: pre-wrap;"
                >{{ user.eating_instructions or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control border border-warning rounded autosize edit-mode d-none mb-3 p-3" 
                    name="eating_instructions"
                    placeholder="Escriba aquí..."
                    aria-labelledby="como_como"
                    aria-describedby="como_como_desc"></textarea>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("como_como_content", "como_como") }}
            {% endif %}
        </section>


        <section aria-labelledby="como_bebo">
            <h3 class="h5" id="como_bebo"> Cómo bebo:</h3>
            <p class="mb-1" id="como_bebo_desc">Ejemplos: Bebo en pequeños tragos, líquidos espesados, etc</p>
            <div 
                id="como_bebo_content"
                data-type="user">
                <p 
                    class="border border-warning rounded view-mode mb-3 p-3" 
                    aria-labelledby="como_bebo"
                    style="white-space: pre-wrap;"
                >{{ user.drinking_instructions or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control border border-warning rounded autosize edit-mode d-none mb-3 p-3" 
                    name="drinking_instructions"
                    placeholder="Escriba aquí..."
                    aria-labelledby="como_bebo"
                    aria-describedby="como_bebo_desc"></textarea>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("como_bebo_content", "como_bebo") }}
            {% endif %}
        </section>

        
        <section aria-labelledby="seguridad">
            <h3 class="h5" id="seguridad">Mi seguridad: </h3>
            <p class="mb-1" id="seguridad_desc">Ejemplos: barandas en la cama, apoyos para momentos de crisis de conducta, etc</p>
            <div 
                id="seguridad_content"
                data-type="user">
                <p 
                    class="border border-warning rounded view-mode mb-3 p-3" 
                    aria-labelledby="seguridad"
                    style="white-space: pre-wrap;"
                >{{ user.safety_measures or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control border border-warning rounded autosize edit-mode d-none mb-3 p-3" 
                    name="safety_measures"
                    placeholder="Escriba aquí..."
                    aria-labelledby="seguridad"
                    aria-describedby="seguridad_desc"></textarea>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("seguridad_content", "seguridad") }}
            {% endif %}
        </section>


        <section aria-labelledby="baño">
            <h3 class="h5" id="baño">Cómo uso el baño:</h3>
            <p class="mb-1" id="baño_desc"> Ejemplos: pañales, ayuda para ir al baño, etc</p>
            <div 
                id="baño_content"
                data-type="user">
                <p 
                    class="border border-warning rounded view-mode mb-3 p-3" 
                    aria-labelledby="baño"
                    style="white-space: pre-wrap;"
                >{{ user.toileting or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control border border-warning rounded autosize edit-mode d-none mb-3 p-3" 
                    name="toileting"
                    placeholder="Escriba aquí..."
                    aria-labelledby="baño"
                    aria-describedby="baño_desc"></textarea>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("baño_content", "baño") }}
            {% endif %}
        </section>


        <section aria-labelledby="descanso">
            <h3 class="h5" id="descanso">Dormir y descansar:</h3>
            <p class="mb-1" id="descanso_desc">Ejemplo: horarios de descanso/rutina</p>
            <div 
                id="descanso_content"
                data-type="user">
                <p 
                    class="border border-warning rounded view-mode mb-3 p-3" 
                    aria-labelledby="descanso"
                    style="white-space: pre-wrap;"
                >{{ user.sleep_rest_routine or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control border border-warning rounded autosize edit-mode d-none mb-3 p-3" 
                    name="sleep_rest_routine"
                    placeholder="Escriba aquí..."
                    aria-labelledby="descanso"
                    aria-describedby="descanso_desc"></textarea>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("descanso_content", "descanso") }}
            {% endif %}
        </section>

    </div>
</div>