{% import 'macros/edit_buttons.html' as edit_buttons %}

<div class="border border-success border-2 rounded p-3">
    <div class="row px-3 mb-3">
        <div class="col-md-10">
            <h2 class="h3">Qué ME GUSTA - NO ME GUSTA</h2>
            <p><strong>Me gusta:</strong> Qué me pone contento, qué cosas me gusta hacer, qué me hace sentir bien. Por  ejemplo: mirar TV, leer, música, rutinas.</p>
            <p><strong>NO me gusta:</strong> Qué me pone incómodo, me enoja, me hace sentir mal. Por ejemplo: los gritos, el contacto físico, qué comidas.</p>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-start" id="nav-likes-dislikes">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" 
                        type="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"
                        id="dropdown-likes-dislikes">
                    ÍNDICE
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown-likes-dislikes">
                    <li><a class="dropdown-item" href="#me_gusta">Me gusta</a></li>
                    <li><a class="dropdown-item" href="#no_me_gusta">No me gusta</a></li>
                    <li><a class="dropdown-item" href="#notas">Notas</a></li>
                    <li><a class="dropdown-item" href="#contactos">Contactos y sitios útiles</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="my-2 border border-success">

    <div class="bg-body-tertiary p-3 rounded-2" tabindex="0">
        
        <section aria-labelledby="me_gusta">
            <h3 class="h5" id="me_gusta">Me gusta</h3>
            <p class="h6">Por favor hagan esto:</p>
            <div 
                class="border border-success rounded mb-3 p-3" 
                id="me_gusta_content"
                aria-describedby="me_gusta"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("me_gusta_content", "me_gusta") }}
            {% endif %}
        </section>


        <section aria-labelledby="no_me_gusta">
            <h3 class="h5" id="no_me_gusta">NO me gusta</h3>
            <p class="h6">Por favor NO hagan esto:</p>
            <div 
                class="border border-success rounded mb-3 p-3" 
                id="no_me_gusta_content"
                aria-describedby="no_me_gusta"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("no_me_gusta_content", "no_me_gusta") }}
            {% endif %}
        </section>


        <section aria-labelledby="notas">
            <h3 class="h5" id="notas">Notas</h3>
            <div 
                class="border border-success rounded mb-3 p-3" 
                id="notas_content" 
                aria-describedby="notas"
            ></div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("notas_content", "notas") }}
            {% endif %}
        </section>


        <section class="content-section" role="region" aria-labelledby="contactos">
            <h3 class="h5" id="contactos">Contactos y sitios útiles</h3>
            <div 
                class="border border-success rounded mb-3 p-3" 
                id="contactos_content"
                aria-describedby="contactos"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("contactos_content", "contactos") }}
            {% endif %}
        </section>
    </div>
</div>