{% import 'macros/edit_buttons.html' as edit_buttons %}

<div class="border border-danger border-2 rounded p-3">

    <div class="row px-3 mb-3">
        <div class="col-md-10">
            <h2 class="h3">Lo que DEBEN saber sobre mí</h2>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-start">
            <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle" 
                        type="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"
                        id="dropdown-must-know">
                    ÍNDICE
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown-must-know">
                    <li><a class="dropdown-item" href="#datos_personales">Datos personales</a></li>
                    <li><a class="dropdown-item" href="#comunicacion">Comunicación</a></li>
                    <li><a class="dropdown-item" href="#contacto_cercano">Contacto cercano</a></li>
                    <li><a class="dropdown-item" href="#acompañante">Acompañante</a></li>
                    <li><a class="dropdown-item" href="#religion">Religión</a></li>
                    <li><a class="dropdown-item" href="#profesionales">Profesionales relacionados</a></li>
                    <li><a class="dropdown-item" href="#alergias">Alergias</a></li>
                    <li><a class="dropdown-item" href="#intervenciones">Intervenciones</a></li>
                    <li><a class="dropdown-item" href="#medicacion">Medicación actual</a></li>
                    <li><a class="dropdown-item" href="#condicion_neurologica">Condición neurologica</a></li>
                    <li><a class="dropdown-item" href="#otros">Otros</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="my-2 border border-danger">

    <div class="bg-body-tertiary p-3 rounded-2" tabindex="0">
        <section aria-labelledby="datos_personales">
            <h3 id="datos_personales" class="h5 mb-3">Datos personales</h3>
            <div class="border border-danger rounded p-3 mb-3" id="datos_personales_content" data-editable-list="true">
                <dl class="row mb-0">
                    <dt class="col-sm-3" id="label_nombre">Nombre</dt>
                    <dd class="col-sm-9" data-type="text" data-field="nombre" data-label="label_nombre">{{ user.name }} {{ user.surname }}</dd>

                    <dt class="col-sm-3" id="label_apodo">Me llaman</dt>
                    <dd class="col-sm-9" data-type="text" data-field="apodo" data-label="label_apodo">-</dd>

                    <dt class="col-sm-3" id="label_obra_social">Obra Social-N°</dt>
                    <dd class="col-sm-9" data-type="number" data-field="obra_social" data-label="label_obra_social">-</dd>

                    <dt class="col-sm-3" id="label_nacimiento">Fecha de nacimiento</dt>
                    <dd class="col-sm-9" data-type="date" data-field="fecha_nacimiento" data-label="label_nacimiento">-</dd>

                    <dt class="col-sm-3" id="label_direccion">Dirección</dt>
                    <dd class="col-sm-9" data-type="text" data-field="direccion" data-label="label_direccion">-</dd>
                    
                    <dt class="col-sm-3" id="label_telefono">Teléfono</dt>
                    <dd class="col-sm-9" data-type="tel" data-field="telefono" data-label="label_telefono">-</dd>

                    <dt class="col-sm-3" id="label_nacionalidad">Nacionalidad</dt>
                    <dd class="col-sm-9" data-type="text" data-field="nacionalidad" data-label="label_nacionalidad">-</dd>
                </dl>
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("datos_personales_content", "datos_personales") }}
            {% endif %}
        </section>


        <section aria-labelledby="comunicacion">
            <h3 class="h5" id="comunicacion">Comunicación</h3>
            <h4 class="h6" id="lenguaje">¿Qué lenguaje hablo?</h4>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="lenguaje_content"
                aria-describedby="lenguaje"
            > 
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("lenguaje_content", "lenguaje") }}
            {% endif %}

            <h4 class="h6" id="como_comunico">¿Cómo me comunico?</h4>
            <p class="mb-1">Ejemplos: uso de comunicadores, respuesta Si/No, Tablet, aplicaciones, etc</p>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="como_comunico_content"
                aria-describedby="como_comunico"
            > 
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("como_comunico_content", "como_comunico") }}
            {% endif %}

            <h4 class="h6" id="necesito_asistente">¿Necesito un asistente para comunicarme?</h4>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="necesito_asistente_content"
                aria-describedby="necesito_asistente"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("necesito_asistente_content", "necesito_asistente") }}
            {% endif %}

            <h4 class="h6" id="necesito_apoyo">¿Necesito de una de mis personas de apoyo permanentemente durante toda consulta/intervenciones/internación?</h4>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="necesito_apoyo_content"
                aria-describedby="necesito_apoyo"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("necesito_apoyo_content", "necesito_apoyo") }}
            {% endif %}
        </section>


        <section aria-labelledby="contacto_cercano">
            <h3 class="h5" id="contacto_cercano">Datos de contacto de la persona más cercana a mí:</h3>
            <div class="border border-danger rounded p-3 mb-3" id="contacto_cercano_content" data-editable-list="true">
                <dl class="row mb-0">
                    <dt class="col-sm-3" id="label_contacto_nombre">Nombre</dt>
                    <dd class="col-sm-9" data-type="text" data-field="contacto_nombre" data-label="label_contacto_nombre">-</dd>

                    <dt class="col-sm-3" id="label_contacto_relacion">Relación</dt>
                    <dd class="col-sm-9" data-type="text" data-field="contacto_relacion" data-label="label_contacto_relacion">-</dd>

                    <dt class="col-sm-3" id="label_contacto_direccion">Dirección</dt>
                    <dd class="col-sm-9" data-type="text" data-field="contacto_direccion" data-label="label_contacto_direccion">-</dd>
                    
                    <dt class="col-sm-3" id="label_contacto_telefono">Celular</dt>
                    <dd class="col-sm-9" data-type="tel" data-field="contacto_telefono" data-label="label_contacto_telefono">-</dd>
                </dl>
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("contacto_cercano_content", "contacto_cercano") }}
            {% endif %}
        </section>


        <section aria-labelledby="acompañante">
            <h3 class="h5" id="acompañante">Quién me acompaña durante la internación:</h3>
            <div class="border border-danger rounded p-3 mb-3" id="acompañante_content" data-editable-list="true">
                <dl class="row mb-0">
                    <dt class="col-sm-3" id="label_acompañante1_nombre">Nombre</dt>
                    <dd class="col-sm-9" data-type="text" data-field="acompañante1_nombre" data-label="label_acompañante1_nombre">-</dd>

                    <dt class="col-sm-3" id="label_acompañante1_direccion">Dirección</dt>
                    <dd class="col-sm-9" data-type="text" data-field="acompañante1_direccion" data-label="label_acompañante1_direccion">-</dd>
                    
                    <dt class="col-sm-3" id="label_acompañante1_telefono">Celular</dt>
                    <dd class="col-sm-9" data-type="tel" data-field="acompañante1_telefono" data-label="label_acompañante1_telefono">-</dd>

                    <dt class="col-sm-3 mt-3" id="label_acompañante2_nombre">Nombre</dt>
                    <dd class="col-sm-9 mt-3" data-type="text" data-field="acompañante2_nombre" data-label="label_acompañante2_nombre">-</dd>

                    <dt class="col-sm-3" id="label_acompañante2_direccion">Dirección</dt>
                    <dd class="col-sm-9" data-type="text" data-field="acompañante2_direccion" data-label="label_acompañante2_direccion">-</dd>
                    
                    <dt class="col-sm-3" id="label_acompañante2_telefono">Celular</dt>
                    <dd class="col-sm-9" data-type="tel" data-field="acompañante2_telefono" data-label="label_acompañante2_telefono">-</dd>
                </dl>
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("acompañante_content", "acompañante") }}
            {% endif %}
        </section>


        <section aria-labelledby="religion">
            <h3 class="h5" id="religion">Religión:</h3>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="religion_content"
                aria-describedby="religion"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("religion_content", "religion") }}
            {% endif %}

            <h4 class="h6" id="necesidad_religiosa">Necesidades Religiosas o espirituales: </h4>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="necesidad_religiosa_content"
                aria-describedby="necesidad_religiosa"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("necesidad_religiosa_content", "necesidad_religiosa") }}
            {% endif %}
        </section>


        <section aria-labelledby="profesionales">
            <h3 class="h5" id="profesionales">Profesionales relacionados a mí</h3>
            <section aria-labelledby="medico_cabecera">
                <h4 class="h6" id="medico_cabecera">Médico de cabecera:</h4>
                <div class="border border-danger rounded p-3 mb-3" id="medico_cabecera_content" data-editable-list="true">
                    <dl class="row mb-0">
                        <dt class="col-sm-3" id="label_medico_nombre">Nombre</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medico_nombre" data-label="label_medico_nombre">-</dd>

                        <dt class="col-sm-3" id="label_medico_direccion">Dirección</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medico_direccion" data-label="label_medico_direccion">-</dd>
                        
                        <dt class="col-sm-3" id="label_medico_telefono">Teléfono</dt>
                        <dd class="col-sm-9" data-type="tel" data-field="medico_telefono" data-label="label_medico_telefono">-</dd>
                    </dl>
                </div>
                {% if is_owner_user %}
                {{ edit_buttons.buttons("medico_cabecera_content", "medico_cabecera") }}
                {% endif %}
            </section>

            <h4 class="h6" id="otros_profesionales">Otros profesionales que tienen relación conmigo:</h4>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="otros_profesionales_content"
                aria-describedby="otros_profesionales"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("otros_profesionales_content", "otros_profesionales") }}
            {% endif %}
        </section>

        
        <section aria-labelledby="alergias">
            <h3 class="h5" id="alergias">Alergias</h3>
            <div 
                    class="border border-danger rounded mb-3 p-3" 
                    id="alergias_content"
                    aria-describedby="alergias"
                >
                </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("alergias_content", "alergias") }}
            {% endif %}
        </section>


        <section aria-labelledby="intervenciones">
            <h3 class="h5" id="intervenciones">Intervenciones</h3>
            <h4 class="h6" id="como_intervenir"> Cómo hacerme las Intervenciones Médicas:</h4>
            <p class="mb-1"> Ejemplos: Cómo sacarme sangre, darme inyecciones, tomarme la presión etc.</p>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="como_intervenir_content"
                aria-describedby="como_intervenir"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("como_intervenir_content", "como_intervenir") }}
            {% endif %}

            <h4 class="h6" id="como_dar_alimento">Cómo deben darme los líquidos y los solídos:</h4>
            <p class="mb-1">Ejemplo: Triturados porque tengo riesgo de atragantarme, disfagia (comer, beber y tragar), etc</p>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="como_dar_alimento_content"
                aria-describedby="como_dar_alimento"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("como_dar_alimento_content", "como_dar_alimento") }}
            {% endif %}
        </section>


        <section aria-labelledby="medicacion">
            <h3 class="h5" id="medicacion">Medicación</h3>
            <section aria-labelledby="medicacion_actual">
                <h4 class="h6" id="medicacion_actual">Medicación actual:</h4>
                <div class="border border-danger rounded p-3 mb-3" id="medicacion_actual_content" data-editable-list="true">
                    <dl class="row mb-0">
                        <dt id="label_medicamento1">1. Medicamento:</dt>
                        <dt class="col-sm-3" id="label_nombre_medicamento1">Nombre</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medicamento1_nombre" data-label="label_medicamento1 label_nombre_medicamento1">-</dd>
                        <dt class="col-sm-3" id="label_dosis_medicamento1">Dosis</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medicamento1_dosis" data-label="label_medicamento1 label_dosis_medicamento1">-</dd>
                        <dt class="col-sm-3" id="label_horario_medicamento1">Horario</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medicamento1_horario" data-label="label_medicamento1 label_horario_medicamento1">-</dd>

                        <dt id="label_medicamento2">2. Medicamento:</dt>
                        <dt class="col-sm-3" id="label_nombre_medicamento2">Nombre</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medicamento2_nombre" data-label="label_medicamento2 label_nombre_medicamento2">-</dd>
                        <dt class="col-sm-3" id="label_dosis_medicamento2">Dosis</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medicamento2_dosis" data-label="label_medicamento2 label_dosis_medicamento2">-</dd>
                        <dt class="col-sm-3" id="label_horario_medicamento2">Horario</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medicamento2_horario" data-label="label_medicamento2 label_horario_medicamento2">-</dd>

                        <dt id="label_medicamento3">3. Medicamento:</dt>
                        <dt class="col-sm-3" id="label_nombre_medicamento3">Nombre</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medicamento3_nombre" data-label="label_medicamento3 label_nombre_medicamento3">-</dd>
                        <dt class="col-sm-3" id="label_dosis_medicamento3">Dosis</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medicamento3_dosis" data-label="label_medicamento3 label_dosis_medicamento3">-</dd>
                        <dt class="col-sm-3" id="label_horario_medicamento3">Horario</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medicamento3_horario" data-label="label_medicamento3 label_horario_medicamento3">-</dd>

                        <dt id="label_medicamento4">4. Medicamento:</dt>
                        <dt class="col-sm-3" id="label_nombre_medicamento4">Nombre</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medicamento4_nombre" data-label="label_medicamento4 label_nombre_medicamento4">-</dd>
                        <dt class="col-sm-3" id="label_dosis_medicamento4">Dosis</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medicamento4_dosis" data-label="label_medicamento4 label_dosis_medicamento4">-</dd>
                        <dt class="col-sm-3" id="label_horario_medicamento4">Horario</dt>
                        <dd class="col-sm-9" data-type="text" data-field="medicamento4_horario" data-label="label_medicamento4 label_horario_medicamento4">-</dd>
                    </dl>
                </div>
                {% if is_owner_user %}
                {{ edit_buttons.buttons("medicacion_actual_content", "medicacion_actual") }}
                {% endif %}
            </section>

            <h4 class="h6" id="como_tomo_medicina">¿Cómo la tomo?</h4>
            <p class="mb-1">Ejemplos: molida y disuelta, en jarabe, con jeringa, con cuchara común, trago comprimidos enteros, etc</p>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="como_tomo_medicina_content"
                aria-describedby="como_tomo_medicina"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("como_tomo_medicina_content", "como_tomo_medicina") }}
            {% endif %}

            <h4 class="h6" id="posicion_medicina">¿Tienen que dármelo en alguna posición determinada? ¿Cuál?</h4>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="posicion_medicina_content"
                aria-describedby="posicion_medicina"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("posicion_medicina_content", "posicion_medicina") }}
            {% endif %}

            <h4 class="h6" id="con_que_tomo"> ¿Con qué tomo los comprimidos, o el jarabe?</h4>
            <p class="mb-1">Ejemplo: Tiene que ser cerca o lejos de las comidas, etc.</p>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="con_que_tomo_content"
                aria-describedby="con_que_tomo"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("con_que_tomo_content", "con_que_tomo") }}
            {% endif %}
        </section>


        <section aria-labelledby="condicion_neurologica">
            <h3 class="h5" id="condicion_neurologica">Condición neurologica</h3>

            <h4 class="h6" id="tengo_crisis"> Tengo epilepsia:</h4>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="tengo_crisis_content"
                aria-describedby="tengo_crisis"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("tengo_crisis_content", "tengo_crisis") }}
            {% endif %}

            <h4 class="h6" id="descripcion_crisis">¿Cómo son mis crisis convulsivas?</h4>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="descripcion_crisis_content"
                aria-describedby="descripcion_crisis"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("descripcion_crisis_content", "descripcion_crisis") }}
            {% endif %}

            <h4 class="h6" id="otras_crisis"> Tengo otro tipo de crisis debido a hipersensibilidad sensorial, etc. <br> ¿Cómo son estas crisis no convulsivas</h4>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="otras_crisis_content"
                aria-describedby="otros"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("otras_crisis_content", "otras_crisis") }}
            {% endif %}
        </section>


        <section aria-labelledby="otros">
            <h3 class="h5" id="otros">Otros datos que deben saber:</h3>
            <div 
                class="border border-danger rounded mb-3 p-3" 
                id="otros_content"
                aria-describedby="otros"
            >
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("otros_content", "otros") }}
            {% endif %}
        </section>

    </div>
</div>