<div class="border border-success border-2 rounded p-3">
    <div class="row px-3 mb-3">
        <div class="col-md-10">
            <h2 class="h3">Qué ME GUSTA - NO ME GUSTA</h2>
            <p><strong>Me gusta:</strong> Qué me pone contento, qué cosas me gusta hacer, qué me hace sentir bien.</p>
            <p><strong>NO me gusta:</strong> Qué me pone incómodo, me enoja, me hace sentir mal.</p>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-start" id="nav-likes-dislikes">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" 
                        type="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"
                        id="dropdown-likes-dislikes">
                    ÍNDICE
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown-likes-dislikes">
                    <li><a class="dropdown-item" href="#me_gusta">Me gusta</a></li>
                    <li><a class="dropdown-item" href="#no_me_gusta">No me gusta</a></li>
                    <li><a class="dropdown-item" href="#notas">Notas</a></li>
                    <li><a class="dropdown-item" href="#contactos">Contactos y sitios útiles</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="my-2 border border-success">

    <div class="bg-body-tertiary p-3 rounded-2" tabindex="0">
        <h3 class="h5" id="me_gusta">Me gusta</h3>
        <p class="h6">Por favor hagan esto:</p>
        <div class="border border-success rounded p-3 mb-3">
            <p class="mb-0">mirar TV, <br> leer, <br> musica, <br> X rutina</p>
        </div>
        <h3 class="h5" id="no_me_gusta">NO me gusta</h3>
        <p class="h6">Por favor NO hagan esto:</p>
        <div class="border border-success rounded p-3 mb-3">
            <p class="mb-0">los gritos, <br> el contacto físico, <br> X comidas</p>
        </div>
        <h3 class="h5" id="notas">Notas</h3>
        <div class="border border-success rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>
        <h3 class="h5" id="contactos">Contactos y sitios útiles</h3>
        <div class="border border-success rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>
    </div>
</div>