<div class="border border-warning border-2 rounded p-3">
    <div class="row px-3 mb-3">
        <div class="col-md-10">
            <h2 class="h3">Lo que es IMPORTANTE para mí</h2>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-start" id="nav-likes-dislikes">
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ÍNDICE
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#estoy_ansioso">¿Estoy ansioso?</a></li>
                    <li><a class="dropdown-item" href="#estoy_dolorido">¿Estoy dolorido?</a></li>
                    <li><a class="dropdown-item" href="#estoy_asustado">¿Estoy asustado?</a></li>
                    <li><a class="dropdown-item" href="#estoy_enojado">¿Estoy enojado?</a></li>
                    <li><a class="dropdown-item" href="#como_comunicarse">Cómo comunicarse</a></li>
                    <li><a class="dropdown-item" href="#movilidad">Movilidad</a></li>
                    <li><a class="dropdown-item" href="#cuidad_personal">Cuidado personal</a></li>
                    <li><a class="dropdown-item" href="#vista_oido">Vista/Oido</a></li>
                    <li><a class="dropdown-item" href="#como_como">Cómo como</a></li>
                    <li><a class="dropdown-item" href="#como_bebo">Cómo bebo</a></li>
                    <li><a class="dropdown-item" href="#seguridad">Mi seguridad</a></li>
                    <li><a class="dropdown-item" href="#baño">Uso del baño</a></li>
                    <li><a class="dropdown-item" href="#descanso">Descansar</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="my-2 border border-warning">

    <div data-bs-spy="scroll" data-bs-target="#nav-likes-dislikes" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <h3 class="h5" id="estoy_ansioso">¿Qué necesito que hagan si estoy ansiosa/ansioso?</h3>
        <div class="border border-warning rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>

        <h3 class="h5" id="estoy_dolorido">¿Cómo te das cuenta de que estoy dolorida/dolorido?</h3>
        <div class="border border-warning rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>

        <h3 class="h5" id="estoy_asustado">¿Cómo te das cuenta que estoy asustada/asustado?</h3>
        <div class="border border-warning rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>

        <h3 class="h5" id="estoy_enojado">¿Cómo te das cuenta que estoy enojada/enojado?</h3>
        <div class="border border-warning rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>

        <h3 class="h5" id="como_comunicarse">Cómo comunicarse conmigo:</h3>
        <div class="border border-warning rounded p-3 mb-3">
            <p class="mb-0">(Ubicación del interlocutor, hablar en voz baja /alta, hablar con lentitud, repetir las cosas… )</p>
        </div>

        <h3 class="h5" id="movilidad">Movilidad:</h3>
        <div class="border border-warning rounded p-3 mb-3">
            <p class="mb-0">(Postura en la cama, andador, etc.)</p>
        </div>

        <h3 class="h5" id="cuidad_personal">Cuidado personal:</h3>
        <div class="border border-warning rounded p-3 mb-3">
            <p class="mb-0">(Vestido, higiene, etc.)</p>
        </div>

        <h3 class="h5" id="vista_oido">Vista/Oído:</h3>
        <div class="border border-warning rounded p-3 mb-3">
            <p class="mb-0">(problemas para ver o escuchar)</p>
        </div>

        <h3 class="h5" id="como_como">Cómo como:</h3>
        <div class="border border-warning rounded p-3 mb-3">
            <p class="mb-0">(Alimento cortado, procesado, riesgo de ahogo, ayuda para comer, gastrostomía)</p>
        </div>

        <h3 class="h5" id="como_bebo"> Cómo bebo:</h3>
        <div class="border border-warning rounded p-3 mb-3">
            <p class="mb-0">(Bebo en pequeños tragos, líquidos espesados)</p>
        </div>

        <h3 class="h5" id="seguridad">Mi seguridad: </h3>
        <div class="border border-warning rounded p-3 mb-3">
            <p class="mb-0">(barandas en la cama, apoyos para momentos de crisis de conducta)</p>
        </div>

        <h3 class="h5" id="baño">Cómo uso el baño:</h3>
        <div class="border border-warning rounded p-3 mb-3">
            <p class="mb-0">(pañales, ayuda para ir al baño)</p>
        </div>

        <h3 class="h5" id="descanso">Dormir y descansar:</h3>
        <div class="border border-warning rounded p-3 mb-3">
            <p class="mb-0">(horarios de descanso/rutina)</p>
        </div>
    </div>
</div>