{% import 'macros/edit_buttons.html' as edit_buttons %}
{% from 'macros/contact_info.html' import contact_info %}
{% from 'macros/medication_info.html' import medication_info %}

<div class="tema-saber border-2 rounded p-3">

    <div class="row px-3 mb-3">
        <div class="col-md-10">
            <h2 class="h3">Lo que DEBEN saber sobre mí</h2>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-start">
            <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle" 
                        type="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"
                        id="dropdown-must-know">
                    ÍNDICE
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown-must-know">
                    <li><a class="dropdown-item" href="#datos_personales">Datos personales</a></li>
                    <li><a class="dropdown-item" href="#comunicacion">Comunicación</a></li>
                    <li><a class="dropdown-item" href="#contacto_cercano">Contacto cercano</a></li>
                    <li><a class="dropdown-item" href="#acompañante">Acompañante</a></li>
                    <li><a class="dropdown-item" href="#religion">Religión</a></li>
                    <li><a class="dropdown-item" href="#profesionales">Profesionales relacionados</a></li>
                    <li><a class="dropdown-item" href="#alergias">Alergias</a></li>
                    <li><a class="dropdown-item" href="#intervenciones">Intervenciones</a></li>
                    <li><a class="dropdown-item" href="#medicacion">Medicación actual</a></li>
                    <li><a class="dropdown-item" href="#condicion_neurologica">Condición neurologica</a></li>
                    <li><a class="dropdown-item" href="#otros">Otros</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="my-2 tema-saber">

    <div class="bg-body-tertiary p-3 rounded-2" tabindex="0">
        <section aria-labelledby="datos_personales">
            <h3 id="datos_personales" class="h5 mb-3">Datos personales</h3>
            <div class="tema-saber rounded p-3 mb-3" id="datos_personales_content" data-type="user">
                <dl class="row mb-0">
                    <dt class="col-sm-4" id="label_nombre">Nombre:</dt>
                    <dd class="col-sm-8">
                        <span class="view-mode">{{ user.name }}</span>
                        {% if is_owner_user %}
                        <input 
                            type="text"
                            class="form-control edit-mode d-none"
                            aria-labelledby="label_nombre"
                            name="name"
                            value="{{ user.name }}">
                        <div class="invalid-feedback edit-mode d-none"></div>
                        {% endif %}
                    </dd>

                    <dt class="col-sm-4" id="label_apellido">Apellido:</dt>
                    <dd class="col-sm-8">
                        <span class="view-mode">{{ user.surname }}</span>
                        {% if is_owner_user %}
                        <input 
                            type="text"
                            class="form-control edit-mode d-none"
                            aria-labelledby="label_apellido"
                            name="surname"
                            value="{{ user.surname }}">
                        <div class="invalid-feedback edit-mode d-none"></div>
                        {% endif %}
                    </dd>

                    <dt class="col-sm-4" id="label_apodo">Me llaman:</dt>
                    <dd class="col-sm-8">
                        <span class="view-mode">{{ user.preferred_name or "-" }}</span>
                        {% if is_owner_user %}
                        <input 
                            type="text"
                            class="form-control edit-mode d-none"
                            aria-labelledby="label_apodo"
                            name="preferred_name"
                            value="">
                        <div class="invalid-feedback edit-mode d-none"></div>
                        {% endif %}
                    </dd>

                    <dt class="col-sm-4" id="label_obra_social">Obra Social-N°:</dt>
                    <dd class="col-sm-8">
                        <span class="view-mode">{{ user.insurance_number or "-"}}</span>
                        {% if is_owner_user %}
                        <input 
                            type="number"
                            class="form-control edit-mode d-none"
                            aria-labelledby="label_obra_social"
                            name="insurance_number"
                            value="">
                        <div class="invalid-feedback edit-mode d-none"></div>
                        {% endif %}
                    </dd>
      
                    <dt class="col-sm-4" id="label_nacimiento">Fecha de nacimiento:</dt>
                    <dd class="col-sm-8">
                        <span class="view-mode">{{ user.birthdate or "-"}}</span>
                        {% if is_owner_user %}
                        <input 
                            type="date"
                            class="form-control edit-mode d-none"
                            aria-labelledby="label_nacimiento"
                            name="birthdate"
                            value="">
                        <div class="invalid-feedback edit-mode d-none"></div>
                        {% endif %}
                    </dd>

                    <dt class="col-sm-4" id="label_direccion">Dirección:</dt>
                    <dd class="col-sm-8">
                        <span class="view-mode">{{ user.address or "-"}}</span>
                        {% if is_owner_user %}
                        <input 
                            type="text"
                            class="form-control edit-mode d-none"
                            aria-labelledby="label_direccion"
                            name="address"
                            value="">
                        <div class="invalid-feedback edit-mode d-none"></div>
                        {% endif %}
                    </dd>
                    
                    <dt class="col-sm-4" id="label_telefono">Teléfono:</dt>
                    <dd class="col-sm-8">
                        <span class="view-mode">{{ user.phone or "-"}}</span>
                        {% if is_owner_user %}
                        <input 
                            type="tel"
                            class="form-control edit-mode d-none"
                            aria-labelledby="label_telefono"
                            name="phone"
                            value="">
                        <div class="invalid-feedback edit-mode d-none"></div>
                        {% endif %}
                    </dd>

                    <dt class="col-sm-4" id="label_nacionalidad">Nacionalidad:</dt>
                    <dd class="col-sm-8">
                        <span class="view-mode">{{ user.nationality or "-" }}</span>
                        {% if is_owner_user %}
                        <input 
                            type="text"
                            class="form-control edit-mode d-none"
                            aria-labelledby="label_nacionalidad"
                            name="nationality"
                            value="{{ user.nationality }}">
                        <div class="invalid-feedback edit-mode d-none"></div>
                        {% endif %}
                    </dd>
                </dl>
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("datos_personales_content", "datos_personales") }}
            {% endif %}
        </section>


        <section aria-labelledby="comunicacion">
            <h3 class="h5" id="comunicacion">Comunicación</h3>
            <h4 class="h6" id="lenguaje">¿Qué lenguaje hablo?</h4>
            <div 
                id="lenguaje_content"
                data-type="user">
                <p 
                    class="tema-saber rounded view-mode mb-3 p-3" 
                    aria-labelledby="lenguaje"
                    style="white-space: pre-wrap;"
                >{{ user.spoken_language or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control tema-saber rounded autosize edit-mode d-none mb-3 p-3" 
                    name="spoken_language"
                    placeholder="Escriba aquí..."></textarea>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("lenguaje_content", "lenguaje") }}
            {% endif %}

            <h4 class="h6" id="como_comunico">¿Cómo me comunico?</h4>
            <p class="mb-1" id="como_comunico_desc">Ejemplos: uso de comunicadores, respuesta Si/No, Tablet, aplicaciones, etc</p>
            <div 
                id="como_comunico_content"
                data-type="user">
                <p 
                    class="tema-saber rounded view-mode mb-3 p-3" 
                    aria-labelledby="como_comunico"
                    style="white-space: pre-wrap;"
                >{{ user.communication_method or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control tema-saber rounded autosize edit-mode d-none mb-3 p-3" 
                    name="communication_method"
                    placeholder="Escriba aquí..."
                    aria-labelledby="como_comunico"
                    aria-describedby="como_comunico_desc"></textarea>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("como_comunico_content", "como_comunico") }}
            {% endif %}

            <h4 class="h6" id="necesito_asistente">¿Necesito un asistente para comunicarme?</h4>
            <div 
                id="necesito_asistente_content"
                data-type="user">
                <span 
                    class="tema-saber rounded view-mode mb-3 p-3 d-block w-100" 
                    aria-labelledby="necesito_asistente">
                    {% if user.needs_communication_assistant is true %}
                        SI
                    {% elif user.needs_communication_assistant is false %}
                        NO
                    {% else %}
                        
                    {% endif %}
                </span>
                {% if is_owner_user %}
                <select 
                    class="form-select tema-saber rounded edit-mode d-none mb-3 p-3"
                    name="needs_communication_assistant" 
                    aria-labelledby="necesito_asistente">
                    <option value="" {% if user.needs_communication_assistant is none %} selected {% endif %} disabled>-- Seleccionar --</option>
                    <option value="true" {% if user.needs_communication_assistant is true %} selected {% endif %}>SI</option>
                    <option value="false" {% if user.needs_communication_assistant is false %} selected {% endif %}>NO</option>
                </select>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("necesito_asistente_content", "necesito_asistente") }}
            {% endif %}

            <h4 class="h6" id="necesito_apoyo">¿Necesito de una de mis personas de apoyo permanentemente durante toda consulta/intervenciones/internación?</h4>
            <div
                id="necesito_apoyo_content"
                data-type="user">
                <span
                    class="tema-saber rounded view-mode mb-3 p-3 d-block w-100" 
                    aria-labelledby="necesito_apoyo">
                    {% if user.needs_continuous_support is true %}
                        SI
                    {% elif user.needs_continuous_support is false %}
                        NO
                    {% else %}
                        
                    {% endif %}
                </span>
                {% if is_owner_user %}
                <select 
                    class="form-select tema-saber rounded edit-mode d-none mb-3 p-3"
                    name="needs_continuous_support" 
                    aria-labelledby="necesito_apoyo">
                    <option value="" {% if user.needs_continuous_support is none %} selected {% endif %} disabled>-- Seleccionar --</option>
                    <option value="true" {% if user.needs_continuous_support is true %} selected {% endif %}>SI</option>
                    <option value="false" {% if user.needs_continuous_support is false %} selected {% endif %}>NO</option>
                </select>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("necesito_apoyo_content", "necesito_apoyo") }}
            {% endif %}
        </section>


        <section aria-labelledby="contacto_cercano">
            <h3 class="h5" id="contacto_cercano">Datos de contacto de la persona más cercana a mí:</h3>
            <div 
                class="tema-saber rounded p-3 mb-3" 
                id="contacto_cercano_content" 
                data-type="contact"
                data-element-id="{{ user.emergency_contact.id }}">
                {{ contact_info(user.emergency_contact, is_owner_user, true)}}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("contacto_cercano_content", "contacto_cercano") }}
            {% endif %}
        </section>


        <section aria-labelledby="acompañante">
            <h3 class="h5" id="acompañante">Quién me acompaña durante la internación:</h3>
            <div 
                class="tema-saber rounded p-3 mb-3 pb-0 list-container" 
                id="acompañante_content">
                {% for contact in user.support_persons %}
                <section aria-labelledby="acompañante_{{ contact.id }}" class="list-item" data-elem="acompañante" data-index="{{ loop.index }}">
                    {% if not loop.first%}
                    <hr class="mt-0 mb-3 tema-saber" aria-hidden="true">
                    {% endif %}
                    <h5 class="h6" id="acompañante_{{ contact.id }}">Acompañante {{ loop.index }}:</h5>
                    <div  
                        class="ms-3 item-content"    
                        id="acompañante_{{ contact.id }}_content"
                        data-type="contact"
                        data-element-id="{{ contact.id }}">
                        {{ contact_info(contact, is_owner_user)}}
                    </div>
                    <div class="d-flex justify-content-end gap-3">
                        {% if is_owner_user %}
                        {{ edit_buttons.delete_buttons("acompañante_" ~ contact.id ~ "_content", "acompañante_" ~ contact.id) }}
                        {{ edit_buttons.buttons("acompañante_" ~ contact.id ~ "_content", "acompañante_" ~ contact.id) }}
                        {% endif %}
                    </div>
                </section>
            {% endfor %}
            </div>
            {% if is_owner_user %}
            <template id="acompañante_template">
                <section aria-labelledby="acompañante_X" class="list-item editing" data-elem="acompañante">
                    <hr class="mt-0 mb-3 tema-saber" aria-hidden="true">
                    <h5 class="h6" id="acompañante_X">Nuevo acompañante:</h5>
                    <div  
                        class="ms-3 item-content"    
                        id="acompañante_X_content"
                        data-type="contact"
                        data-contact-type="support_persons">
                        {{ contact_info({}, true)}}
                    </div>
                    <div class="d-flex justify-content-end gap-3 edit-btns d-none">
                        {{ edit_buttons.delete_buttons("acompañante_X_content", "acompañante_X") }}
                        {{ edit_buttons.buttons("acompañante_X_content", "acompañante_X") }}
                    </div>
                </section>
            </template>
            {{ edit_buttons.add_button("acompañante_content", "acompañante", "acompañante_template") }}
            {% endif %}
        </section>


        <section aria-labelledby="religion">
            <h3 class="h5" id="religion">Religión:</h3>
            <div 
                id="religion_content"
                data-type="user">
                <p 
                    class="tema-saber rounded view-mode mb-3 p-3" 
                    aria-labelledby="como_comunico"
                    style="white-space: pre-wrap;"
                >{{ user.religion or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control tema-saber rounded autosize edit-mode d-none mb-3 p-3" 
                    name="religion"
                    placeholder="Escriba aquí..."
                    aria-labelledby="religion"></textarea>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("religion_content", "religion") }}
            {% endif %}

            <h4 class="h6" id="necesidad_religiosa">Necesidades Religiosas o espirituales: </h4>
            <div
                id="necesidad_religiosa_content"
                data-type="user">
                <p 
                    class="tema-saber rounded view-mode mb-3 p-3" 
                    aria-labelledby="necesidad_religiosa"
                    style="white-space: pre-wrap;"
                >{{ user.spiritual_needs or "" }}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control tema-saber rounded autosize edit-mode d-none mb-3 p-3" 
                    name="spiritual_needs"
                    placeholder="Escriba aquí..."
                    aria-labelledby="necesidad_religiosa"></textarea>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("necesidad_religiosa_content", "necesidad_religiosa") }}
            {% endif %}
        </section>


        <section aria-labelledby="profesionales">
            <h3 class="h5" id="profesionales">Profesionales relacionados a mí</h3>
            <section aria-labelledby="medico_cabecera">
                <h4 class="h6" id="medico_cabecera">Médico de cabecera:</h4>
                <div 
                    class="tema-saber rounded p-3 mb-3" 
                    id="medico_cabecera_content" 
                    data-type="contact"
                    data-element-id="{{ user.primary_care_physician.id }}">
                    {{ contact_info(user.primary_care_physician, is_owner_user)}}
                </div>
                {% if is_owner_user %}
                {{ edit_buttons.buttons("medico_cabecera_content", "medico_cabecera") }}
                {% endif %}
            </section>

            <h4 class="h6" id="otros_profesionales">Otros profesionales que tienen relación conmigo:</h4>
            <div 
                class="tema-saber rounded mb-3 p-3 pb-0 list-container" 
                id="otros_profesionales_content">
                {% for contact in user.other_professionals %}
                <section aria-labelledby="profesional_{{ contact.id }}" class="list-item" data-elem="profesional" data-index="{{ loop.index }}">
                    {% if not loop.first%}
                    <hr class="mt-0 mb-3 tema-saber" aria-hidden="true">
                    {% endif %}
                    <h5 class="h6" id="profesional_{{ contact.id }}">Profesional {{ loop.index }}:</h5>
                    <div  
                        class="ms-3 item-content"    
                        id="profesional_{{ contact.id }}_content"
                        data-type="contact"
                        data-element-id="{{ contact.id }}">
                        {{ contact_info(contact, is_owner_user)}}
                    </div>
                    <div class="d-flex justify-content-end gap-3">
                        {% if is_owner_user %}
                        {{ edit_buttons.delete_buttons("profesional_" ~ contact.id ~ "_content", "profesional_" ~ contact.id) }}
                        {{ edit_buttons.buttons("profesional_" ~ contact.id ~ "_content", "profesional_" ~ contact.id) }}
                        {% endif %}
                    </div>
                </section>
                {% endfor %}
            </div>
            {% if is_owner_user %}
            <template id="profesional_template">
                <section aria-labelledby="profesional_X" class="list-item editing" data-elem="profesional">
                    <hr class="mt-0 mb-3 tema-saber" aria-hidden="true">
                    <h5 class="h6" id="profesional_X">Nuevo profesional:</h5>
                    <div  
                        class="ms-3 item-content"    
                        id="profesional_X_content"
                        data-type="contact"
                        data-contact-type="other_professionals">
                        {{ contact_info({}, true)}}
                    </div>
                    <div class="d-flex justify-content-end gap-3 edit-btns d-none">
                        {{ edit_buttons.delete_buttons("profesional_X_content", "profesional_X") }}
                        {{ edit_buttons.buttons("profesional_X_content", "profesional_X") }}
                    </div>
                </section>
            </template>
            {{ edit_buttons.add_button("otros_profesionales_content", "otros_profesionales", "profesional_template") }}
            {% endif %}
        </section>

        
        <section aria-labelledby="alergias">
            <h3 class="h5" id="alergias">Alergias</h3>
            <div 
                id="alergias_content"
                data-type="user">
                <p 
                    class="tema-saber rounded view-mode mb-3 p-3" 
                    aria-labelledby="alergias"
                    style="white-space: pre-wrap;"
                >{{ user.allergies or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control tema-saber rounded autosize edit-mode d-none mb-3 p-3" 
                    name="allergies"
                    placeholder="Escriba aquí..."
                    aria-labelledby="alergias"></textarea>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("alergias_content", "alergias") }}
            {% endif %}
        </section>


        <section aria-labelledby="intervenciones">
            <h3 class="h5" id="intervenciones">Intervenciones</h3>
            <h4 class="h6" id="como_intervenir"> Cómo hacerme las Intervenciones Médicas:</h4>
            <p class="mb-1" id="como_intervenir_desc"> Ejemplos: Cómo sacarme sangre, darme inyecciones, tomarme la presión etc.</p>
            <div 
                id="como_intervenir_content"
                data-type="user">
                <p 
                    class="tema-saber rounded view-mode mb-3 p-3" 
                    aria-labelledby="como_intervenir"
                    style="white-space: pre-wrap;"
                >{{ user.medical_procedure_instructions or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control tema-saber rounded autosize edit-mode d-none mb-3 p-3" 
                    name="medical_procedure_instructions"
                    placeholder="Escriba aquí..."
                    aria-labelledby="como_intervenir"
                    aria-describedby="como_intervenir_desc"></textarea>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("como_intervenir_content", "como_intervenir") }}
            {% endif %}

            <h4 class="h6" id="como_dar_alimento">Cómo deben darme los líquidos y los solídos:</h4>
            <p class="mb-1" id="como_dar_alimento_desc">Ejemplo: Triturados porque tengo riesgo de atragantarme, disfagia (comer, beber y tragar), etc</p>
            <div 
                id="como_dar_alimento_content"
                data-type="user">
                <p 
                    class="tema-saber rounded view-mode mb-3 p-3" 
                    aria-labelledby="como_dar_alimento"
                    style="white-space: pre-wrap;"
                >{{ user.feeding_instructions or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control tema-saber rounded autosize edit-mode d-none mb-3 p-3" 
                    name="feeding_instructions"
                    placeholder="Escriba aquí..."
                    aria-labelledby="como_dar_alimento"
                    aria-describedby="como_dar_alimento_desc"></textarea>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("como_dar_alimento_content", "como_dar_alimento") }}
            {% endif %}
        </section>


        <section aria-labelledby="medicacion">
            <h3 class="h5" id="medicacion">Medicación</h3>
            <section aria-labelledby="medicacion_actual">
                <h4 class="h6" id="medicacion_actual">Medicación actual:</h4>
                <div 
                    class="tema-saber rounded p-3 mb-3 pb-0 list-container" 
                    id="medicacion_actual_content">
                    {% for medication in user.medications %}
                    <section aria-labelledby="medicacion_{{ medication.id }}" class="list-item" data-elem="medicacion" data-index="{{ loop.index }}">
                        {% if not loop.first%}
                        <hr class="mt-0 mb-3 tema-saber" aria-hidden="true">
                        {% endif %}
                        <h5 class="h6" id="medicacion_{{ medication.id }}">Medicacion {{ loop.index }}:</h5>
                        <div  
                            class="ms-3 item-content"    
                            id="medicacion_{{ medication.id }}_content"
                            data-type="medication"
                            data-element-id="{{ medication.id }}">
                            {{ medication_info(medication, is_owner_user)}}
                        </div>
                        <div class="d-flex justify-content-end gap-3">
                            {% if is_owner_user %}
                            {{ edit_buttons.delete_buttons("medicacion_" ~ medication.id ~ "_content", "medicacion_" ~ medication.id) }}
                            {{ edit_buttons.buttons("medicacion_" ~ medication.id ~ "_content", "medicacion_" ~ medication.id) }}
                            {% endif %}
                        </div>
                    </section>
                    {% endfor %}
                </div>
                {% if is_owner_user %}
                <template id="medication_template">
                    <section aria-labelledby="medicacion_X" class="list-item editing" data-elem="medicacion">
                        <hr class="mt-0 mb-3 tema-saber" aria-hidden="true">
                        <h5 class="h6" id="medicacion_X">Nuevo medicamento:</h5>
                        <div  
                            class="ms-3 item-content"    
                            id="medicacion_X_content"
                            data-type="medication">
                            {{ medication_info({}, true)}}
                        </div>
                        <div class="d-flex justify-content-end gap-3 edit-btns d-none">
                            {{ edit_buttons.delete_buttons("medicacion_X_content", "medicacion_X") }}
                            {{ edit_buttons.buttons("medicacion_X_content", "medicacion_X") }}
                        </div>
                    </section>
                </template>
                {{ edit_buttons.add_button("medicacion_actual_content", "medicacion_actual", "medication_template") }}
                {% endif %}
            </section>

            <h4 class="h6" id="como_tomo_medicina">¿Cómo la tomo?</h4>
            <p class="mb-1" id="como_tomo_medicina_desc">Ejemplos: molida y disuelta, en jarabe, con jeringa, con cuchara común, trago comprimidos enteros, etc</p>
            <div  
                id="como_tomo_medicina_content"
                data-type="user">
                <p 
                    class="tema-saber rounded view-mode mb-3 p-3" 
                    aria-labelledby="como_dar_alimento"
                    style="white-space: pre-wrap;"
                >{{ user.how_to_take_medication or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control tema-saber rounded autosize edit-mode d-none mb-3 p-3" 
                    name="how_to_take_medication"
                    placeholder="Escriba aquí..."
                    aria-labelledby="como_tomo_medicina"
                    aria-describedby="como_tomo_medicina_desc"></textarea>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("como_tomo_medicina_content", "como_tomo_medicina") }}
            {% endif %}

            <h4 class="h6" id="posicion_medicina">¿Tienen que dármelo en alguna posición determinada? ¿Cuál?</h4>
            <div 
                id="posicion_medicina_content"
                data-type="user">
                <p 
                    class="tema-saber rounded view-mode mb-3 p-3" 
                    aria-labelledby="posicion_medicina"
                    style="white-space: pre-wrap;"
                >{{ user.position_for_medication or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control tema-saber rounded autosize edit-mode d-none mb-3 p-3" 
                    name="position_for_medication"
                    placeholder="Escriba aquí..."
                    aria-labelledby="posicion_medicina"></textarea>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("posicion_medicina_content", "posicion_medicina") }}
            {% endif %}

            <h4 class="h6" id="con_que_tomo"> ¿Con qué tomo los comprimidos, o el jarabe?</h4>
            <p class="mb-1" id="con_que_tomo_desc">Ejemplo: Tiene que ser cerca o lejos de las comidas, etc.</p>
            <div  
                id="con_que_tomo_content"
                data-type="user">
                <p 
                    class="tema-saber rounded view-mode mb-3 p-3" 
                    aria-labelledby="con_que_tomo"
                    style="white-space: pre-wrap;"
                >{{ user.take_medication_with or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control tema-saber rounded autosize edit-mode d-none mb-3 p-3" 
                    name="take_medication_with"
                    placeholder="Escriba aquí..."
                    aria-labelledby="con_que_tomo"
                    aria-describedby="con_que_tomo_desc"></textarea>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("con_que_tomo_content", "con_que_tomo") }}
            {% endif %}
        </section>


        <section aria-labelledby="condicion_neurologica">
            <h3 class="h5" id="condicion_neurologica">Condición neurologica</h3>

            <h4 class="h6" id="tengo_crisis"> Tengo epilepsia:</h4>
            <div 
                id="tengo_crisis_content"
                data-type="user">   
                <span 
                    class="tema-saber rounded view-mode mb-3 p-3 d-block w-100" 
                    aria-labelledby="tengo_crisis">
                    {% if user.has_epilepsy is true %}
                        SI
                    {% elif user.has_epilepsy is false %}
                        NO
                    {% else %}
                        
                    {% endif %}
                </span>
                {% if is_owner_user %}
                <select 
                    class="form-select tema-saber rounded edit-mode d-none mb-3 p-3"
                    name="has_epilepsy" 
                    aria-labelledby="tengo_crisis">
                    <option value="" {% if user.has_epilepsy is none %} selected {% endif %} disabled>-- Seleccionar --</option>
                    <option value="true" {% if user.has_epilepsy is true %} selected {% endif %}>SI</option>
                    <option value="false" {% if user.has_epilepsy is false %} selected {% endif %}>NO</option>
                </select>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("tengo_crisis_content", "tengo_crisis") }}
            {% endif %}

            <h4 class="h6" id="descripcion_crisis">¿Cómo son mis crisis convulsivas?</h4>
            <div 
                id="descripcion_crisis_content"
                data-type="user">
                <p 
                    class="tema-saber rounded view-mode mb-3 p-3" 
                    aria-labelledby="descripcion_crisis"
                    style="white-space: pre-wrap;"
                >{{ user.convulsive_crisis_description or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control tema-saber rounded autosize edit-mode d-none mb-3 p-3" 
                    name="convulsive_crisis_description"
                    placeholder="Escriba aquí..."
                    aria-labelledby="descripcion_crisis"></textarea>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("descripcion_crisis_content", "descripcion_crisis") }}
            {% endif %}

            <h4 class="h6" id="otras_crisis"> Tengo otro tipo de crisis debido a hipersensibilidad sensorial, etc. <br> ¿Cómo son estas crisis no convulsivas?</h4>
            <div 
                id="otras_crisis_content"
                data-type="user">
                <p 
                    class="tema-saber rounded view-mode mb-3 p-3" 
                    aria-labelledby="otras_crisis"
                    style="white-space: pre-wrap;"
                >{{ user.non_convulsive_crisis_description or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control tema-saber rounded autosize edit-mode d-none mb-3 p-3" 
                    name="non_convulsive_crisis_description"
                    placeholder="Escriba aquí..."
                    aria-labelledby="otras_crisis"></textarea>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("otras_crisis_content", "otras_crisis") }}
            {% endif %}
        </section>


        <section aria-labelledby="otros">
            <h3 class="h5" id="otros">Otros datos que deben saber:</h3>
            <div 
                id="otros_content"
                data-type="user">
                <p 
                    class="tema-saber rounded view-mode mb-3 p-3" 
                    aria-labelledby="otros"
                    style="white-space: pre-wrap;"
                >{{ user.other_relevant_info or ""}}</p>
                {% if is_owner_user %}
                <textarea 
                    class="form-control tema-saber rounded autosize edit-mode d-none mb-3 p-3" 
                    name="other_relevant_info"
                    placeholder="Escriba aquí..."
                    aria-labelledby="otros"></textarea>
                <div class="invalid-feedback edit-mode d-none"></div>
                {% endif %}
            </div>
            {% if is_owner_user %}
                {{ edit_buttons.buttons("otros_content", "otros") }}
            {% endif %}
        </section>

    </div>
</div>