
<div class="border border-danger border-2 rounded p-3">

    <div class="row px-3 mb-3">
        <div class="col-md-10">
            <h2 class="h3">Lo que DEBEN saber sobre mí</h2>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-start" id="nav-must-know">
            <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle" 
                        type="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"
                        id="dropdown-must-know">
                    ÍNDICE
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown-must-know">
                    <li><a class="dropdown-item" href="#datos_personales">Datos personales</a></li>
                    <li><a class="dropdown-item" href="#comunicacion">Comunicación</a></li>
                    <li><a class="dropdown-item" href="#contacto_cercano">Contacto cercano</a></li>
                    <li><a class="dropdown-item" href="#acompañante">Acompañante</a></li>
                    <li><a class="dropdown-item" href="#religion">Religión</a></li>
                    <li><a class="dropdown-item" href="#profesionales">Profesionales relacionados</a></li>
                    <li><a class="dropdown-item" href="#alergias">Alergias</a></li>
                    <li><a class="dropdown-item" href="#intervenciones">Intervenciones</a></li>
                    <li><a class="dropdown-item" href="#medicacion">Medicación actual</a></li>
                    <li><a class="dropdown-item" href="#condicion_neurologica">Condición neurologica</a></li>
                    <li><a class="dropdown-item" href="#otros">Otros</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="my-2 border border-danger">

    <div data-bs-spy="scroll" data-bs-target="#nav-must-know" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <section aria-labelledby="datos_personales">
            <h3 id="datos_personales" class="h5 mb-3">Datos personales</h3>
            <dl class="row mb-0">
                <dt class="col-sm-3">Nombre</dt>
                <dd class="col-sm-9">{{ user.name }}</dd>

                <dt class="col-sm-3">Me llaman</dt>
                <dd class="col-sm-9">Pepe</dd>

                <dt class="col-sm-3">Obra Social-N°</dt>
                <dd class="col-sm-9">400800</dd>

                <dt class="col-sm-3">Fecha de nacimiento</dt>
                <dd class="col-sm-9">01/01/2000</dd>

                <dt class="col-sm-3">Dirección</dt>
                <dd class="col-sm-9">Av. Siempre Viva 742, Buenos Aires</dd>
                
                <dt class="col-sm-3">Teléfono</dt>
                <dd class="col-sm-9">+54 9 11 1234-5678</dd>

                <dt class="col-sm-3">Nacionalidad</dt>
                <dd class="col-sm-9">Argentino</dd>
            </dl>
        </section>
        
        <hr class="my-2 border border-danger">

        <h3 class="h5" id="comunicacion">Comunicación</h3>
        <h4 class="h6">¿Qué lenguaje hablo?</h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>
        <h4 class="h6">¿Cómo me comunico?</h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0">(uso de comunicadores, respuesta Si/No, Tablet, aplicaciones, etc) </p>
        </div>
        <h4 class="h6">¿Necesito un asistente para comunicarme?</h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0"> NO </p>
        </div>
        <h4 class="h6">¿Necesito de una de mis personas de apoyo permanentemente durante toda consulta/intervenciones/internación</h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0"> SI </p>
        </div>

        <hr class="my-2 border border-danger">

        <section aria-labelledby="contacto_cercano">
            <h3 class="h5" id="contacto_cercano">Datos de contacto de la persona más cercana a mí</h3>
            <dl class="row mb-0">
                <dt class="col-sm-3">Nombre/Relacion</dt>
                <dd class="col-sm-9">María/Madre</dd>

                <dt class="col-sm-3">Dirección</dt>
                <dd class="col-sm-9">Av. Siempre Viva 742, Buenos Aires</dd>
                
                <dt class="col-sm-3">Celular</dt>
                <dd class="col-sm-9">+54 9 11 1234-5678</dd>
            </dl>
        </section>

        <hr class="my-2 border border-danger">

        <section aria-labelledby="acompañante">
            <h3 class="h5" id="acompañante">Quién me acompaña durante la internación</h3>
            <dl class="row mb-0">
                <dt class="col-sm-3">Nombre</dt>
                <dd class="col-sm-9">Juan Gonzales</dd>

                <dt class="col-sm-3">Dirección</dt>
                <dd class="col-sm-9">Av. Siempre Viva 123, Buenos Aires</dd>
                
                <dt class="col-sm-3">Celular</dt>
                <dd class="col-sm-9">+54 9 11 1234-7654</dd>

                <dt class="col-sm-3 mt-3">Nombre</dt>
                <dd class="col-sm-9 mt-3">-</dd>

                <dt class="col-sm-3">Dirección</dt>
                <dd class="col-sm-9">-</dd>
                
                <dt class="col-sm-3">Celular</dt>
                <dd class="col-sm-9">-</dd>
            </dl>
        </section>

        <hr class="my-2 border border-danger">

        <h3 class="h5" id="religion">Religión:</h3>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>
        <h4 class="h6">Necesidades Religiosas o espirituales: </h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>

        <hr class="my-2 border border-danger">

        <h3 class="h5" id="profesionales">Profesionales relacionados a mí</h3>
        <section aria-labelledby="medico_cabecera">
            <h4 class="h6" id="medico_cabecera">Médico de cabecera:</h4>
            <div class="border border-danger rounded p-3 mb-3">
                <dl class="row mb-0">
                    <dt class="col-sm-3">Nombre</dt>
                    <dd class="col-sm-9">-</dd>

                    <dt class="col-sm-3">Dirección</dt>
                    <dd class="col-sm-9">-</dd>
                    
                    <dt class="col-sm-3">Teléfono</dt>
                    <dd class="col-sm-9">-</dd>
                </dl>
            </div>
        </section>
        <h4 class="h6">Otros profesionales que tienen relación conmigo:</h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>

        <hr class="my-2 border border-danger">

        <h3 class="h5" id="alergias">Alergias</h3>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>

        <h3 class="h5" id="intervenciones">Intervenciones</h3>
        <h4 class="h6"> Cómo hacerme las Intervenciones Médicas:</h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0">(Cómo sacarme sangre, darme inyecciones, tomarme la presión etc.)</p>
        </div>
        <h4 class="h6">Cómo deben darme los líquidos y los solídos:</h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0">Porque tengo: riesgo de atragantarme, disfagia (comer, beber y tragar)</p>
        </div>

        <h3 class="h5" id="medicacion">Medicación</h3>
        <section aria-labelledby="medicacion_actual">
            <h4 class="h6" id="medicacion_actual">Medicación actual:</h4>
            <div class="border border-danger rounded p-3 mb-3">
                <dl class="row mb-0">
                    <dt>1. Medicamento:</dt>
                    <dt class="col-sm-3">Nombre</dt>
                    <dd class="col-sm-9">-</dd>
                    <dt class="col-sm-3">Dosis</dt>
                    <dd class="col-sm-9">-</dd>
                    <dt class="col-sm-3">Horario</dt>
                    <dd class="col-sm-9">-</dd>

                    <dt class="mt-3">2. Medicamento:</dt>
                    <dt class="col-sm-3">Nombre</dt>
                    <dd class="col-sm-9">-</dd>
                    <dt class="col-sm-3">Dosis</dt>
                    <dd class="col-sm-9">-</dd>
                    <dt class="col-sm-3"> Horario</dt>
                    <dd class="col-sm-9">-</dd>

                    <dt class="mt-3">3. Medicamento:</dt>
                    <dt class="col-sm-3">Nombre</dt>
                    <dd class="col-sm-9">-</dd>
                    <dt class="col-sm-3">Dosis</dt>
                    <dd class="col-sm-9">-</dd>
                    <dt class="col-sm-3">Horario</dt>
                    <dd class="col-sm-9">-</dd>

                    <dt class="mt-3">4. Medicamento:</dt>
                    <dt class="col-sm-3">Nombre</dt>
                    <dd class="col-sm-9">-</dd>
                    <dt class="col-sm-3">Dosis</dt>
                    <dd class="col-sm-9">-</dd>
                    <dt class="col-sm-3"> Horario</dt>
                    <dd class="col-sm-9">-</dd>
                </dl>
            </div>
        </section>
        <h4 class="h6">¿Cómo la tomo?</h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0">(molida y disuelta, en jarabe, con jeringa, con cuchara común, trago comprimidos enteros, etc)</p>
        </div>
        <h4 class="h6">¿Tienen que dármelo en alguna posición determinada? ¿Cuál?</h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>
        <h4 class="h6"> ¿Con qué tomo los comprimidos, o el jarabe? Tiene que ser cerca o lejos de las comidas? Etc. </h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>

        <h3 class="h5" id="condicion_neurologica">Condición neurologica</h3>
        <h4 class="h6"> Tengo epilepsia:</h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0">NO</p>
        </div>
        <h4 class="h6">¿Cómo son mis crisis convulsivas?</h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0"></p>
        </div>
        <h4 class="h6"> Tengo otro tipo de crisis debido a hipersensibilidad sensorial, etc. <br> ¿Cómo son estas crisis no convulsivas</h4>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0"></p>
        </div>

        <h3 class="h5" id="otros">Otros datos que deben saber:</h3>
        <div class="border border-danger rounded p-3 mb-3">
            <p class="mb-0"> </p>
        </div>

    </div>
</div>