{% extends "base.html" %}

{% block title %}Info QR{% endblock %}

{% block body_content %}
    <h1 class="display-5">¡Bienvenid@ a InfoQR!</h1>
    <p class="lead">Esta aplicación te permite obtener información sobre una persona para brindarle ayuda, de forma rápida y práctica mediante el escaneo de un código QR o ingresando un identificador único.</p>
    
    <div class="text-center mt-4">
        <a href="#" class="btn btn-success btn-lg" role="button" aria-label="Escanear código QR">
            <i class="bi bi-qr-code-scan me-2" aria-hidden="true"></i>Escanear Código QR
        </a>
    </div>
    
    <hr class="my-4">
    
    <form class="row g-3 justify-content-around" role="search" aria-label="Formulario para buscar por identificador">
        <div class="col-md-6">
            <label for="identifier" class="form-label">Ingresar Identificador</label>
            <input type="text" id="identifier" name="identifier" class="form-control" placeholder="Ejemplo: fb22d174-f2d7-42e2-abf7-72e2c7118c6d" aria-describedby="identifierHelp">
            <div id="identifierHelp" class="form-text">
                Introduce un identificador único para buscar la información.
            </div>
        </div>
        <div class="col-md-3 align-self-center">
            <button type="submit" class="btn btn-outline-primary w-100" aria-label="Buscar identificador">Buscar</button>
        </div>
    </form>
{% endblock %}