{% extends "base.html" %}

{% block title %}Info QR - Registrarse{% endblock %}

{% block body_content %}
    <header class="mb-4 text-center">
      <h1 class="h4">Registrarse</h1>
    </header>

    <form action="{{ url_for('create_user') }}" method="post">
        {{ form.hidden_tag() }}

        <div class="row g-3">
        <div class="col-md-6">
            <label for="name" class="form-label">Nombre</label>
            <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            value="{{ form.name.data or '' }}"
            placeholder="Ejemplo: María"
            required
            aria-required="true"
            autofocus
            />
            <div id="nameError" class="invalid-feedback"></div>
        </div>

        <div class="col-md-6">
            <label for="surname" class="form-label">Apellido</label>
            <input
            type="text"
            class="form-control"
            id="surname"
            name="surname"
            value="{{ form.surname.data or '' }}"
            placeholder="Ejemplo: González"
            required
            aria-required="true"
            />
            <div id="surnameError" class="invalid-feedback"></div>
        </div>

        <div class="col-12">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value="{{ form.email.data or '' }}"
            placeholder="Ejemplo: mariagonzalez@gmail.com"
            required
            aria-required="true"
            />
            <div id="emailError" class="invalid-feedback"></div>
        </div>

        <div class="col-md-6">
            <label for="password" class="form-label">Contraseña</label>
            
            <div class="input-group">
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    minlength="8"
                    placeholder="Tu contraseña"
                    required
                    aria-required="true"
                    aria-describedby="passwordHelp"
                    />

                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    tabindex="-1"
                    >
                    <i class="bi bi-eye"></i>
                </button>
            </div>

            <aside
                id="passwordHelp"
                class="visually-hidden m-3"
                role="region"
                aria-live="polite"
                >
                <h2 class="visually-hidden">Requisitos de la contraseña</h2>

                <ul>
                    <li id="minimum-character-requirement" class="d-flex align-items-center">
                        <i class="bi bi-dash-circle-fill me-2"></i>
                        8 caracteres mínimo
                    </li>
                    <li id="at-least-3-requirement" class="d-flex align-items-center">
                        <i class="bi bi-dash-circle-fill me-2"></i>
                        3 de los siguientes:
                    </li>
                    <ul>
                        <li id="uppercase-character-requirement" class="d-flex align-items-center">
                            <i class="bi bi-dash-circle-fill me-2"></i>
                            Al menos 1 letra mayúscula
                        </li>
                        <li id="lowercase-character-requirement" class="d-flex align-items-center">
                            <i class="bi bi-dash-circle-fill me-2"></i>
                            Al menos 1 letra minúscula
                        </li>
                        <li id="numbers-requirement" class="d-flex align-items-center">
                            <i class="bi bi-dash-circle-fill me-2"></i>
                            Al menos 1 número (0–9)
                        </li>
                        <li id="special-character-requirement" class="d-flex align-items-center">
                            <i class="bi bi-dash-circle-fill me-2"></i>
                            Al menos 1 carácter especial
                        </li>
                    </ul>
                </ul>
            </aside>

            <div id="passwordError" class="invalid-feedback d-block"></div>
        </div>


        <div class="col-md-6">
            <label for="confirmPassword" class="form-label">Repetir Contraseña</label>
            <div class="input-group">
                <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    placeholder="Repite la contraseña"
                    required
                    aria-required="true"
                    />
                                
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    tabindex="-1"
                    >
                    <i class="bi bi-eye"></i>
                </button>

            </div>
            <div id="confirmPasswordError" class="invalid-feedback d-block"></div>
        </div>
        </div>

        <div class="my-4"></div>
        
        <div class="d-flex justify-content-center">
            <button id="signUp" class="btn btn-primary btn-lg w-50" type="submit">Registrarse</button>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script>
        const nameInput = document.getElementById('name');
        const surnameInput = document.getElementById('surname');
        const emailInput = document.getElementById('email');
        const passwordInput = document.getElementById('password');
        const confirmPasswordInput = document.getElementById('confirmPassword');
        const signUpButton = document.getElementById('signUp');

        const passwordHelp = document.getElementById('passwordHelp');
        const minimumCharacterRequirement = passwordHelp.querySelector('#minimum-character-requirement')
        const atLeast3Requirement = passwordHelp.querySelector('#at-least-3-requirement')
        const uppercaseCharacterRequirement = passwordHelp.querySelector('#uppercase-character-requirement')
        const lowercaseCharacterRequirement = passwordHelp.querySelector('#lowercase-character-requirement')
        const numbersRequirement = passwordHelp.querySelector('#numbers-requirement')
        const specialCharacterRequirement = passwordHelp.querySelector('#special-character-requirement')

        let nameErrorMessage = '';
        let nameWasModified = false

        let surnameErrorMessage = '';
        let surnameWasModified = false

        let emailErrorMessage = '';
        let emailWasModified = false

        let passwordErrorMessage = '';
        let passwordWasModified = false

        let confirmPasswordErrorMessage = '';
        let confirmPasswordWasModified = false

        const nameIsValid = () => nameErrorMessage == ''
        const surnameIsValid = () => surnameErrorMessage == ''
        const emailIsValid = () => emailErrorMessage == ''
        const passwordIsValid = () => passwordErrorMessage == ''
        const confirmPasswordIsValid = () => confirmPasswordErrorMessage == ''

        function validateName() {
            const name = nameInput.value.trim();

            if (name === '') {
                nameErrorMessage = 'El nombre es obligatorio.';
            } else if (name.length > 64) {
                nameErrorMessage = 'El nombre no puede tener más de 64 caracteres.';
            } else if (!/^[A-Za-zÁÉÍÓÚáéíóúÑñÜü ]+$/.test(name)) {
                nameErrorMessage = 'El nombre solo puede tener letras (incluyendo acentos, ñ, ü) y espacios.';
            } else {
                nameErrorMessage = ''
            }
        }

        function validateSurname() {
            const surname = surnameInput.value.trim();

            if (surname === '') {
                surnameErrorMessage = 'El apellido es obligatorio.';
            } else if (surname.length > 64) {
                surnameErrorMessage = 'El apellido no puede tener más de 64 caracteres.';
            } else if (!/^[A-Za-zÁÉÍÓÚáéíóúÑñÜü ]+$/.test(surname)) {
                surnameErrorMessage = 'El apellido solo puede tener letras (incluyendo acentos, ñ, ü) y espacios.';
            } else {
                surnameErrorMessage = ''
            }
        }

        function validateEmail() {
            const email = emailInput.value.trim();

            if (email === '') {
                emailErrorMessage = 'El correo electrónico es obligatorio.';
            } else if (email.length > 128) {
                emailErrorMessage = 'El correo electrónico no puede tener más de 128 caracteres.';
            } else if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
                emailErrorMessage = 'El formato del correo electrónico no es válido.';
            } else {
                emailErrorMessage = ''
            }
        }

        function validatePassword() {
            const password = passwordInput.value;

            const updateElementState = (element, isValid) => {
                const elementIcon = element.querySelector('i')

                if (isValid) {
                    element.classList.remove('text-muted')
                    element.classList.add('text-success')

                    elementIcon.classList.remove('bi-dash-circle-fill')
                    elementIcon.classList.add('bi-check-circle-fill')
                } else {
                    element.classList.remove('text-success')
                    element.classList.add('text-muted')

                    elementIcon.classList.remove('bi-check-circle-fill')
                    elementIcon.classList.add('bi-dash-circle-fill')
                }
            }
            
            const validate = (element, validationRegex) => {
                const isValid = validationRegex.test(password)
                
                updateElementState(element, isValid)

                return isValid
            }

            const minimumCharacterIsValid = validate(minimumCharacterRequirement, /.{8,}/)

            const atLeast3IsValid = [
                validate(uppercaseCharacterRequirement, /[A-Z]/),
                validate(lowercaseCharacterRequirement, /[a-z]/),
                validate(numbersRequirement, /[0-9]/),
                validate(specialCharacterRequirement, /[^A-Za-z0-9]/)
            ].reduce((count, isValid) => count + (isValid ? 1 : 0), 0) >= 3

            updateElementState(atLeast3Requirement, atLeast3IsValid)

            if (minimumCharacterIsValid && atLeast3IsValid) {
                passwordErrorMessage = ''
            } else {
                passwordErrorMessage = 'La contraseña no es válida.'
            }            
        }

        function validateConfirmPassword() {
            if (confirmPasswordInput.value != passwordInput.value) {
                confirmPasswordErrorMessage = 'Las contraseñas deben coincidir.';
            } else {
                confirmPasswordErrorMessage = '';
            }
        }

        function setValidationState(input, errorMessage) {
            const errorDiv = document.getElementById(input.id + 'Error');
            
            if (errorMessage) {
                input.classList.add('is-invalid');
                input.setAttribute('aria-invalid', 'true');
                errorDiv.textContent = errorMessage;
            } else {
                input.classList.remove('is-invalid');
                input.setAttribute('aria-invalid', 'false');
                errorDiv.textContent = '';
            }
        }

        function updateButtonState() {
            signUpButton.disabled = !nameIsValid() || !surnameIsValid() || !emailIsValid() || !passwordIsValid() || !confirmPasswordIsValid();
        }

        const setupPasswordVisibility = (input) => {
            const visibilityButton = input.parentElement.querySelector('button')
            const visibilityIcon = visibilityButton.querySelector('i')

            visibilityButton.addEventListener('mousedown', event => {
                event.preventDefault()
            })

            visibilityButton.addEventListener('click', () => {
                const selectionStart = input.selectionStart
                const selectionEnd = input.selectionEnd

                if (input.type == 'password') {
                    input.type = 'text'
                    visibilityIcon.classList.remove('bi-eye')
                    visibilityIcon.classList.add('bi-eye-slash')
                } else {
                    input.type = 'password'
                    visibilityIcon.classList.remove('bi-eye-slash')
                    visibilityIcon.classList.add('bi-eye')
                }

                input.focus()
                setTimeout(() => { input.setSelectionRange(selectionStart, selectionEnd) }, 0)
            });
        }

        nameInput.addEventListener('blur', () => {
            if (!nameWasModified) {
                return;
            }

            validateName()
            setValidationState(nameInput, nameErrorMessage);
            updateButtonState()
        });

        nameInput.addEventListener('input', () => {
            validateName()
            setValidationState(nameInput, '');
            updateButtonState()

            nameWasModified = true
        });

        surnameInput.addEventListener('blur', () => {
            if (!surnameWasModified) {
                return;
            }

            validateSurname()
            setValidationState(surnameInput, surnameErrorMessage);
            updateButtonState()
        });

        surnameInput.addEventListener('input', () => {
            validateSurname()
            setValidationState(surnameInput, '');
            updateButtonState()

            surnameWasModified = true
        });

        emailInput.addEventListener('blur', () => {
            if (!emailWasModified) {
                return;
            }

            validateEmail()
            setValidationState(emailInput, emailErrorMessage);
            updateButtonState()
        });

        emailInput.addEventListener('input', () => {
            validateEmail()
            setValidationState(emailInput, '');
            updateButtonState()

            emailWasModified = true
        });

        passwordInput.addEventListener('focus', () => {
            if (!passwordIsValid()) {
                passwordHelp.classList.remove('visually-hidden');
            }
            
            setValidationState(passwordInput, '');
        });

        passwordInput.addEventListener('blur', () => {
            passwordHelp.classList.add('visually-hidden');

            if (!passwordWasModified) {
                return;
            }

            validatePassword()
            validateConfirmPassword()

            setValidationState(passwordInput, passwordErrorMessage);

            if (confirmPasswordInput.value != '') {
                setValidationState(confirmPasswordInput, confirmPasswordErrorMessage);
            }

            updateButtonState()
        });

        passwordInput.addEventListener('input', () => {
            validatePassword()
            validateConfirmPassword()

            if (passwordIsValid()) {
                passwordHelp.classList.add('visually-hidden')
            } else {
                passwordHelp.classList.remove('visually-hidden')
            }

            setValidationState(passwordInput, '');
            setValidationState(confirmPasswordInput, '');
            updateButtonState()

            passwordWasModified = true
        });

        confirmPasswordInput.addEventListener('blur', () => {
            if (!confirmPasswordWasModified) {
                return;
            }

            validateConfirmPassword()
            setValidationState(confirmPasswordInput, confirmPasswordErrorMessage);
            updateButtonState()
        });

        confirmPasswordInput.addEventListener('input', () => {
            validateConfirmPassword()
            setValidationState(confirmPasswordInput, '');
            updateButtonState()

            confirmPasswordWasModified = true
        });
    
        validateName()
        validateSurname()
        validateEmail()
        validatePassword()
        validateConfirmPassword()
        updateButtonState()
        setupPasswordVisibility(passwordInput)
        setupPasswordVisibility(confirmPasswordInput)

        {% for field_name, errors in form.errors.items() %}
            setValidationState({{ field_name }}Input, {{ errors | tojson }});
        {% endfor %}
    </script>
{% endblock %}
